body {
  cursor: nw-resize;
}

ul li {font-size: x-large;}

h1,ul,div,p {
  font-style: italic;
  text-align: center;
}

ul {
  list-style-position: inside;
}

input[type=text] {
                background-color: aquamarine;
                text-align: center;
            }
.par {
  text-decoration-style: dotted;

}

a::before {content: "Prossimo libro: ";
font-weight: bold;}

a:hover { cursor: alias;}
